
  <h1 align="center">New User</h1>

  <%= render 'form', user: @user %>

<div align="center">
   [<%= link_to 'already have account? Login.', login_path %>] | 
  [<%= link_to 'back to products ', products_path %> ]
 
</div>