
<div class="form-group">
  <%= form.fields_for :lineitems do |f| %>
    <%= f.select :product_id,options_for_select(Product.all.collect{|c| [c.pname,c.id]}), class: 'form-control' %>
  <%= form.submit class: 'btn btn-default'%>
  <% end %>
</div>
